{% extends "parent/parent.html" %}
{% block wholeblock %}
    <!-- first view -->
    <img class="-mt-36" src="../static/img/create_plans_details/create-plans-details-first-strange-shape-down.png" alt="strange-shape">
    <div class="flex flex-row items-center absolute top-8 justify-center">
        <div class="flex flex-col mr-60">
            <h1 class="first-title">Create</h1>
            <h1 class="first-title">own</h1>
            <h1 class="first-title">plans</h1>
        </div>
        <img class="first-iphones" src="../static/img/create_plans_details/create-plans-details-first-iphones.png" alt="first-iphones">
    </div>
    <img class="-mt-80" src="../static/img/create_plans_details/create-plans-details-first-strange-shape-up.png" alt="">

    <!-- second view -->
    <img class="second-left-iphone -mt-56" src="../static/img/create_plans_details/create-plans-details-second-left-iphone.png" alt="left-iphone">
    <img class="second-right-iphone absolute right-0" src="../static/img/create_plans_details/create-plans-details-second-right-iphone.png" alt="right-iphone">

    <!-- third view (create plans description 1.) -->
    <div class="flex flex-col justify-center  absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <h1 class="knock-description-title">1.</h1>
        <h1 class="knock-description-title">Create plans with</h1>
        <h1 class="knock-description-title">lots of images</h1>
        <h1 class="knock-description-title">and texts</h1>
        <h1 class="knock-description-explanatory-text mt-10">Choose your favorite photos.</h1>
        <h1 class="knock-description-explanatory-text">And write to your heart's content.</h1>
        <h1 class="knock-description-explanatory-text">You'll feel the depth of traveling.</h1>
    </div>
    <img class="second-no-posts -ml-10 mt-32" src="../static/img/create_plans_details/no-posts.PNG" alt="">

    <!-- third view (create plans description 2.) -->
    <div class="flex flex-row">
        <img class="third-iphones" src="../static/img/create_plans_details/create-plans-details-third-iphones.png" alt="">
        <div class="flex flex-col ml-20">

            <h1 class="knock-description-title">2.</h1>
            <h1 class="knock-description-title">Post with the</h1>
            <h1 class="knock-description-title">best thumbnail</h1>
            <h1 class="knock-description-explanatory-text w-96 mt-10">Select awesome thumbnail of your post.</h1>
            <h1 class="knock-description-explanatory-text w-96 mt-8">Then, Users can see your post first on Travel Knock.</h1>
        </div>
    </div>

    <!-- download view -->
    <div class="flex flex-row items-center mt-20">
        <img class="last-iphones absolute right-0" src="../static/img/create_plans_details/create-plans-details-last-iphones.png" alt="last-iphones">
        <div class="flex flex-col items-center mt-36 ml-20">
            <h1 class="let-create">Let's create</h1>
            <a class="pl-10 mt-5" href="https://apps.apple.com/jp/app/travel-knock/id6474373726" target="_blank"><img
                class="w-40" src="../static/img/home/download-on-the-app-store.png" alt=""></a>
        </div>
    </div>

    <!-- copyright -->
    <div class="flex flex-col justify-center mt-40">
        <h1 class="copyright items-center mx-auto">©️ Travel Knock 2023</h1>
    </div>
{% endblock %}